.lineTime {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.lineTime li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lineTime__text {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;
}

.lineTime__text span {
    padding: 0 1rem;
}

.lineTime__bar {
    height: 120px;
    width: 4px;
    border-radius: 8px;
    background-color: white;
}


@media screen and (min-width: 990px) {
    .lineTime {
        flex-flow: row;
    }

    .lineTime__bar {
        width: 120px;
        height: 4px;
    }
}