.contentMobile {
    display: flex;
}

.offcanvas-header .btn-close{
    color: white !important;
    background: white;
}

.btn-close {
    background-color: red !important;
}

.header__link--mobile {
    color: white;
    text-decoration: none;
}

.active {
    color: var(--bg-motor-second);
}