.footer {
    border-top: 1px solid var(--bg-motor-second);
}

.footer__copyright {
    /* outline: 4px solid white; */
    display: block;
    width: 100%;
    text-align: center;
    color: #ddd;
    font-weight: 400;
}

.footer__copyright span {
    font-size: 0.75rem;
}