.footer {
    border-top: 2px solid var(--bg-motor-second);
}

.footerSubMenu__title {
    position: relative;
}

.footerSubMenu__title::after {
    position: absolute;
    content: '';
    bottom: -25%;
    left: 0;
    width: 80px;
    height: 3px;
    background: var(--bg-motor-second);
}

.footer__copyright span {
    font-size: 0.75rem;
}

@media screen and (min-width: 760px) {
    .contentFooter {
        display: grid !important;
        grid-template-columns: auto 1fr 1fr 1fr;
    }    
}