:root {
  --bg-motor-primary: #000000; 
  --bg-motor-second: rgba(223, 32, 77, 1);
  --bg-motor-third: #E8F5E6; 

  scroll-behavior: smooth;
}

.bg-primary-motor {
  background-color: #000000;
}

.bg-second-motor {
  background-color: #DF224E;
}

.bg-third-motor {
  background-color: #E8F5E6;
}