.servicios__container {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.servicioCard__body {
    display: grid;
    grid-template-columns: 2fr auto;
    gap: 1rem;
}

.servicioCard__body > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    #servicios h6 {
        font-size: 1.75rem !important;
    }

    .servicios__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 990px) {
    #servicios {
        padding-bottom: 7rem;
    }

    .servicios__container {
        grid-template-columns: repeat(3, 1fr);
    }
}